<h1>Pokemon</h1>
{{#if isLoading}}
  <div>...Loading</div>
{{else}}
  <table class="table table-striped">
    <thead class="thead-inverse">
      <tr>
        <th>Name</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
    {{#each model as |pokemon|}}
      <tr>
        <td>{{pokemon.name}}</td>
        <td>
          {{#link-to 'pokemon.edit' pokemon.id}}Edit{{/link-to}}
          {{#link-to 'pokemon.view' pokemon.id}}Details{{/link-to}}
        </td>
      </tr>
    {{/each}}
    </tbody>
  </table>
  <div class="col-xs-10 col-xs-offset-1 col-sm-offset-0 col-sm-4 col-md-3">
      <button disabled={{isDisabled}} {{action 'loadMore'}} class="btn btn-primary btn-lg btn-block">Load More</button>
  </div>
{{/if}}